<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
			rel="stylesheet" />
		<title>Pokedex - {{ .Pokemon.Name | title | replace "-" " " }}</title>
	</head>
	<body>
		<div>
			<a class="bg-violet-400 hover:bg-violet-500 mx-3 mt-6 px-3 py-1 text-white rounded transition-colors duration-150ms" href="/">&lt; Back</a>
			<div class="text-center text-xl">#{{.Pokemon.ID }}</div>
			<div class="text-center text-xl font-bold mb-2">{{.EnglishGenus}}</div>
			<h1 class="text-center text-3xl font-bold capitalize">{{.Pokemon.Name | replace "-" " "}}</h1>

			<div style="display: flex; justify-content: center">
				<img
					src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{.Pokemon.ID}}.png"
					alt="{{.Pokemon.Name}}"
					id="regular-art"
					class="artwork regular w-70 drop-shadow-lg" />
				<img
					src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/{{.Pokemon.ID}}.png"
					alt="{{.Pokemon.Name}}"
					id="shiny-art"
					class="artwork shiny hidden w-70 drop-shadow-lg" />
			</div>

			<div class="flex flex-wrap justify-center my-4 mx-2">
				{{ range $type := .Pokemon.Types }}
				<div class="icon {{ $type.Type.Name }}"><img src="https://raw.githubusercontent.com/duiker101/pokemon-type-svg-icons/refs/heads/master/icons/{{ $type.Type.Name }}.svg" /></div>
				{{ end }}
			</div>
		<div>
				<div class="dex-entries">
				{{ range $i, $flavor := .FlavorTexts }}
					<div id="{{$flavor.Version.Name}}" class="{{ if ne $i 0 }} hidden {{ end }} text-center leading-snug mx-2">

					<p class="mx-4">{{$flavor.FlavorText}}</p>
					<sub class="text-base">Pokémon {{$flavor.Version.Name | title | replace "-" " " }}</sub>

					</div>
				{{ end }}
				</div>

				<div class="text-center">
					<button class="text-white bg-violet-400 hover:bg-violet-500 mx-auto my-4 px-3 py-1 rounded" id="flavor-cycle-btn">Change Dex Entry</button>
				</div>
		</div>
			<div>
				{{ if ne .Pokemon.ID 1 }}
				<a href="/pkmn/{{ .Pokemon.ID }}/prev"><button>&lt;</button></a>
				{{ end }}
				<a href="/random"><button>Surprise Me!</button></a>
				{{ if ne .Pokemon.ID 1025 }}
				<a href="/pkmn/{{ .Pokemon.ID }}/next"><button>&gt;</button></a>	
				{{ end }}			
			</div>
			<div>
			<div>
		</div>
		<script src="/static/js/pkmn.js"></script>
	</body>
</html>
