<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
			rel="stylesheet" />
		<title>Pokedex - {{ .Pokemon.Name | caps }}</title>
	</head>
	<body>
		<div class="container">
			<a class="back-btn" href="/"><button>&lt; Back</button></a>
			<div class="pkmn-num-header">#{{.PaddedID}}</div>
			<div class="pkmn-genus-header">{{.EnglishGenus}}</div>
			<h1 class="pkmn-name-header">{{.Pokemon.Name}}</h1>
			<div style="display: flex; justify-content: center">
				<img
					src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{.Pokemon.ID}}.png"
					alt="{{.Pokemon.Name}}"
					id="regular-art"
					class="artwork regular" />
				<img
					src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/{{.Pokemon.ID}}.png"
					alt="{{.Pokemon.Name}}"
					id="shiny-art"
					class="artwork shiny hidden" />
			</div>
			<div style="text-align: center;">
				<div class="dex-entries">
				{{ range $i, $flavor := .FlavorTexts }}
					{{ if eq $i 0 }}
					<p id="{{$flavor.Version.Name}}">{{$flavor.FlavorText}}</p>
					<sub id="title-{{$flavor.Version.Name}}"> Pokemon {{$flavor | makeDisplayVersion | caps}}</sub>
					{{ else }}
					<p class="hidden" id="{{$flavor.Version.Name}}">{{$flavor.FlavorText}}</p>
					<sub class="hidden" id="title-{{$flavor.Version.Name}}">Pokemon {{$flavor | makeDisplayVersion | caps }}</sub>
					{{ end }}
				{{ end }}
				</div>
				<button id="flavor-cycle-btn">Change Dex Entry</button>
			</div>
			<div class="nav-btns">
				{{ if ne .Pokemon.ID 1 }}
				<a href="/pkmn{{ sub .Pokemon.ID 1}}"><button>&lt;</button></a>
				{{ end }}
				{{ if ne .Pokemon.ID 1025 }}
				<a href="/pkmn/{{ add .Pokemon.ID 1}}"><button>&gt;</button></a>	
				{{ end }}			
			</div>
			<div class="nav-btns">
			<a href="/pkmn/{{ randInt 1 1026 }}"><button>Surprise Me!</button></a>
			<div>
		</div>
		<script src="/static/js/pkmn.js"></script>
	</body>
</html>
